language = current.path[1]
title = "JavaScript "
filter = /(\.html$)/
replace = /(\.html$)|(^index\.html$)/
version = ''
page = ''

<!-- Replace _ undscores with . dots -->
if current.path[2]
  version = current.path[2].replace(/\_+/gm, ".")

<!-- Replace _ undscores with . dots -->
if current.path[3]
  page = current.path[3] + '.html'


<!-- VERSION TREE CREATOR MIXIN -->
mixin tree(directory, urlPrefix, name, latest)
  ul
    for val, semvar in directory
      if semvar !== '.git' && semvar !== '_data'
        libVersion = (semvar == "latest") ?  latest : semvar.replace(/\_+/gm, ".")
        li <a href="#{urlPrefix}/#{semvar}/#{page}" md-button>#{name} #{libVersion}</a>


<!-- BUTTON TITLE GENERATION  -->
if language == 'js'
    title = 'Npmsafe'



