language = current.path[1]
title = "Npmsafe "
filter = /(\.html$)/
replace = /(\.html$)|(^index\.html$)/
version = ''
page = ''

<!-- Replace _ undscores with . dots -->
if current.path[2]
  version = current.path[2].replace(/\_+/gm, ".")

<!-- Replace _ undscores with . dots -->
if current.path[3]
  page = current.path[3] + '.html'


<!-- VERSION TREE CREATOR MIXIN -->
mixin tree(directory, urlPrefix, name, latest)
  ul
    for val, semvar in directory
      if semvar !== '.git' && semvar !== '_data'
        libVersion = (semvar == "latest") ?  latest : semvar.replace(/\_+/gm, ".")
        li <a href="#{urlPrefix}/#{semvar}/#{page}" md-button>#{name} #{libVersion}</a>


<!-- BUTTON TITLE GENERATION  -->
if language == 'zh'
    title = '简体中文'
    
if language == 'en'
    title = 'English'
    
<!-- DROPDOWN BUTTON -->
nav.hero-subtitle.text-subhead.dropdown
    button(aria-label="Select a language" md-button class="dropdown-button" ng-click="toggleVersionMenu($event)") #{title}  <span class="icon icon-arrow-drop-down"></span>
    div(class="overlay ng-hide" ng-click="toggleVersionMenu($event)" ng-show="showMenu")
    <!-- DROPDOWN MENU -->
    div(class="dropdown-menu" ng-class="showMenu ? 'is-visible' : ''")
        mixin tree(public.docs.zh, "/docs/zh", "简体中文")
        mixin tree(public.docs.en, "/docs/en", "English")